<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
		rel="stylesheet" href="/app.scss">
		{# 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
																				 #}
		<script src="https://cdn.tailwindcss.com"></script>


		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
		{#  Pour le deuxième container  #}
		<link rel="stylesheet" href="/v2-assets/compiled.css?hash=c78e697eb0b325db82336c161e18962f"><link rel="modulepreload" href="https://tailwindui.com/build/assets/iframe-react-f87b6dcd.js"><link rel="modulepreload" href="https://tailwindui.com/build/assets/iframe-a81dc9a8.js"><link rel="modulepreload" href="https://tailwindui.com/build/assets/index-0c85f979.js"><link rel="modulepreload" href="https://tailwindui.com/build/assets/_commonjsHelpers-87174ba5.js"><script type="module" src="https://tailwindui.com/build/assets/iframe-react-f87b6dcd.js"></script>

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
